%header{class: 'navbar navbar-fixed-top navbar-inverse'}
  = link_to 'sample app', '#', id: 'logo'
  %nav
    %ul{class: 'nav navbar-nav navbar-right'}
      %li= link_to 'Home', '#'
      - if user_signed_in?
        %li= link_to 'Logout', destroy_user_session_path, method: :delete
      - else
        %li= link_to 'Login', new_user_session_path
